@import "@/variables";

.fullDay {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px;
  border: 1px solid $black-800;
  border-radius: 16px;
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  gap: 12px;
  padding-bottom: 20px;
  border-bottom: 1px solid $black-700;
}

.backBtn {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  color: white;

  &:hover {
    background-color: $black-700;
    cursor: pointer;
  }
}

.date {
  font-size: 22px;
}

.month {
  font-size: 16px;
  color: $black-400;
}

.addNewButton {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  color: $black-100;
  font-size: 16px;
  padding: 12px;
  border-radius: 12px;

  &:hover {
    box-sizing: border-box;
    transition: color, background-color .5s ease-in-out;
    background-color: $black-800;
    outline: 1px solid $black-600;
    cursor: pointer;

  }
}