$black-50: #fafafa;
$black-100: #f6f6f6;
$black-300: #e0e0e0;
$black-400: #bdbdbd;
$black-450: #434149;
$black-500: #36343b;
$black-600: #2b2930;
$black-700: #212229;
$black-800: #211f26;
$black-900: #1d1b20;
$black-900: #141218;
